.YouTubeSection {

    .swiper-wrapper {
        margin-bottom: 30px;
    }
    
    .youtube-video {
        margin: 0px;
    }

    iframe {
        text-align: center;
        height: 500px;
    }

    .text-section div {
        border: 1px solid lightgrey;
        position: relative;
        height: 150px;
        margin: 5px 25px;
    }

    .text-section .image-container {
        // background-image: url("https://via.placeholder.com/150");
    }

    // .text-section img {
    //     width: 100%;
    //     position: absolute;
    // }
}