.YouTubeSection {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .swiper-container {
        height: 300px;
        border-radius: 4px;
        // width: 50%;
    }
    
    .youtube-video {
        // height: 200px;
    }

    iframe {
        text-align: center;
        height: 250px;
    }
}